<h1 align="center"> DSE 203 Homework 2 </h1>

Please find a file called "GTD with errors" in the "Data Sets" folder. This is the almost the same as the original GTD file with some unnecessary columns removed. Some of the data items have errors. Your homework is:

(a) identify erroneous data

(b) write down the integrity constraints they violate - specify the type of constraint violation, and the express the constraint in Datalog syntax. Remember that one error can violate multiple integrity constraints. 

(c) use your ETL tool to convert the single-table schema to the normalized schema you defined in HW 1. Make sure that only the error-free tuples are placed into the normalized schema. If in the process you *correct* (i.e., repair) some errors, demonstrate how you corrected the data.

<h3 align='Left'> eventid (Key Dependency Violation) </h3>

201409030053 is used multiple times

<img src="images/key_error.png">

<h3 align='Left'> region/region_txt
</h3>

incorrect value/imprecise value/inference rule violation <p>
Functional Dependency violation: Europe can either be seen as region 8 or 9 (according to codebook)

Invalid region_txt. This can also be seen as an imprecise value as Europe
can be seen as either region 8 or 9.

In [18]:
import pandas as pd

In [19]:
pd.DataFrame(data = [['201407100081','9', 'Europe']], columns = ['eventid', 'region', 'region_txt'])

        eventid region region_txt
0  201407100081      9     Europe

<h3 align='Left'> nkillus (Semantic Integrity Violation) </h3>

In [10]:
# Value for nkillus cannot be greater than nkill.nkill is total number
# of deaths but nkillus being specifically us deaths 
# make this tuple not make sense.

In [21]:
pd.DataFrame(data = [['201307270009','25', '28']
                     ], columns = ['eventid', 'nkill', 'nkillus'])

        eventid nkill nkillus
0  201307270009    25      28

In [ ]:
# Killings(nkill,nkillus) <- Killings(nkill, nkillus) and NOT nkillus > nkill

<h3 align='Left'> nkill (atypical value) </h3>

In [15]:
# Since there was a release of prisoners it may make some sense, 
# but it is highly misleading. I would want more information in the codebook
# or in some info section of table to explain the value of -4.

In [20]:
pd.DataFrame(data = [['201404270050','-4', 
                      'The assailants demanded the release of imprisoned pro-Russian supporters in exchange for the safe return of the hostages.']
                     ], columns = ['eventid', 'nkill', 'ransomnote' ])

        eventid nkill                                         ransomnote
0  201404270050    -4  The assailants demanded the release of impriso...

In [ ]:
# datalog: Killings(nkill,nkillus) <-  Killings(nkill,nkillus) and NOT nkill < 0